/** @section Sections */

// Section Spacing
.section-xs {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-sm,
.section-md,
.section-lg,
.section-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

// Section collapse
.section-collapse + .section-collapse { padding-top: 0; }

.section-collapse:last-child { padding-bottom: 0; }

// Section with bottom zero padding
html [class*='section-'].section-bottom-0 { padding-bottom: 0; }

@include media-breakpoint-up(md) {
  .section-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-md {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .section-lg {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@include media-breakpoint-up(lg) {
  .section-md {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .section-lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@include media-breakpoint-up(xl) {
  .section-lg {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

// Section single
.section-single {
  display: flex;
  text-align: center;

  p {
    margin-left: auto;
    margin-right: auto;
  }

  * + .rights { margin-top: 35px; }

  @include media-breakpoint-up(lg) {
    * + .rights { margin-top: 60px; }
  }

  .rd-mailform-wrap {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  * + .rd-mailform-wrap { margin-top: 20px; }
}

.section-single-header { padding: calc(1em + 3vh) 0 calc(1em + 2vh); }
.section-single-main { padding: calc(1em + 4vh) 0; }
.section-single-footer { padding: calc(1em + 2vh) 0 calc(1em + 3vh); }

.section-single-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;

  > * { width: 100%; }
}
