-
  var
    htmlClass = "wide",
    fonts = "https://fonts.googleapis.com/css?family=Roboto+Slab:700%7CRoboto:400,700",
    logo = {
      default: {
        desktop: 'logo-default.png',
        retina:  'logo-default@2x.png 2x'
      },
      inverse:{
        desktop: 'logo-inverse.png',
        retina:  'logo-inverse@2x.png 2x'
      },
      name: 'Gelbman Trunk'
    },
    links = {
      post: 'blog-post.html',
      getTemplate:'#get-template'
    },
    colors = {
      primary: '#b6c062'
    },
    menu = [
      {
        title: 'Home',
        link: 'index.html'
      }
    ],

    // Predefined variables
    breadcrumbs = [],
    pageName = 'Home'
