/** @section Dividers */

hr {
  margin-top: 45px;
  margin-bottom: 45px;
  border-top: $hr-border-width solid $hr-border-color;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
  line-height: 0;

  &::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: $primary;
  }
}
